@tailwind base;
@tailwind components;
@tailwind utilities;
.todo-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 345px;
  margin-left: 385px;
}

.todo-item {
  margin-top: 10px;
}
